.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-form {
  justify-content: space-around;
  text-align: center;
  align-items: center;
  color: #123955;
}

.login-h1 {
  text-align: center;
  color: #123955;
}

.login-email, .login-password {
  display: flex;
  flex-direction: column;
  height: 8vh;
  justify-content: space-around;
}

#email, #password  {
  width: 20vw;
  margin: auto;
}

.login-box {
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 2px 2px 6px #123955cb;
  min-width: 300px;
  max-width: 400px;
  width: 100%;
  border: 1px solid #E47126;
}

.login-form-input {
  border-color: #123955;
  height: 2em;
  width: 20vw;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.575);
}
  
.login-button {
  border-color: #123955;
  border-radius: 6px;
  font-size: 1rem;
  margin-top: 1.2rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  font-weight: bold;
  background-color: #98D1D3;
}

.login-button:active {
  background-color: #E47126;
}
