.navbar {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  margin-top: 2vh;
  gap: 10px;
  border-bottom: 4px solid #B0B0FF;
  margin-inline: auto;
}

.navbar-link {
  background-color: #E6E6FF;
  color: #0044FF;
  min-width: fit-content;
  text-align: center;
  padding: 1rem;
  font-size: 20px;
  text-decoration: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.navbar-link.active {
  background-color: #B0B0FF; 
}

/* MOBILE STYLES */
@media only screen and (max-width: 600px) {
.navbar-link {
  padding: 0;
  padding-block: 2vh;
  font-size: 15px;
}
}