.public-footer {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  background-color: #DDDDDD;
  align-items: center;
}

.public-footer-article {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.public-footer-article > a,
.public-footer-nav > a {
  text-decoration: unset;
  color: black;
}

.public-footer-article > p {
  margin: 0;
}

.public-footer-article > img {
  width: 30px;
  height: 30px;
}

.public-footer-nav {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {

  .public-footer {
    font-size: 10px;
    flex-direction: column;
    height: fit-content;
  }
  .public-footer-article > img {
    width: 20px;
    height: 20px;
  }
  
}