@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Finger+Paint&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	font-family: "Roboto", sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.02em;
	word-spacing: 0.1em;
	min-height: 100vh;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	background-color: #f7f5f5da;
}

a,
a:visited {
	text-decoration: none;
}
